{% extends "layout.html" %}

{% block title %}
    Login
{% endblock %}

{% block main %}
    <script src="/static/login.js"></script>

    <form action="/login" method="post">
        <input autocomplete="off" autofocus class="form-control form-group" name="username" placeholder="Username" type="text" required>
        <br>
        <input class="form-control form-group" name="password" placeholder="Password" type="password" required>
        <br>
        <div id="remove">
            <p>Don't like your password? <button type="button" onclick="updateButton('remove', 'em1', 'em2', 'hid')" class="btn btn-primary">Change it.</button></p>
        </div>

        <input id="hid" type="hidden" name="no_change">

        <div><input id="em1" type="hidden" class="form-control form-group" placeholder="New Password" name="pass"></div>

        <div><input id="em2" type="hidden" class="form-control form-group" placeholder="Confirmation" name="passCon"></div>

        <button class="btn btn-primary" type="submit">Login</button>
    </form>
{% endblock %}
