{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <form action="/register" method="post">
        <input type="text" class="form-control form-group" name="username" placeholder="Username" autocomplete="off" required>
        <br>
        <input type="password" class="form-control form-group" name="password" placeholder="Password" autocomplete="off" required>
        <br>
        <input type="password" class="form-control form-group" name="confirmation" placeholder="Confirm Password" autocomplete="off" required>
        <br>
        <button type="submit" class="btn btn-primary">Register</button>
    </form>
{% endblock %}