Flask==1.1.4
Flask-Session==0.4.0
Flask-SocketIO==4.3.1
Flask-Cors==4.0.0
requests==2.27.1
SQLAlchemy==2.0.29
Jinja2==2.11.3
cs50==9.3.4
psycopg==3.1.18
Werkzeug==1.0.1
PyYAML==6.0
MarkupSafe==2.0.1
python-socketio==4.6.0
python-engineio==3.13.2