#gameInfo{
    top: 48%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 2fr 1fr;
}

#gameInfo > .cardsContainer{
    grid-area: 1/1/2/5;
}

.dieContainer{
    grid-area: 2/1/3/5;
}

#betDiv.grid{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    padding: 0%;
}

#actBox{
    padding: 2%;
    top: 53%;
    width: unset;
}

.card.shiftToken{
    aspect-ratio: 158/243;
}
.card.shiftToken:hover{
    filter: drop-shadow(0px 0px 5px #fff700);
}

#positiveDeck:hover, #negativeDeck:hover, #positiveDiscard:hover, #negativeDiscard:hover{
    filter: drop-shadow(0px 0px 5px #fff700);
}