nav .navbar-brand{
    /* size for brand */
    font-size: xx-large;
}

/* Colors for brand */
nav .navbar-brand .blue{
    color: rgb(14, 148, 201);
}

main .form-control{
    /* Center form controls */
    display: inline-block;

    /* Override Bootstrap's 100% width for form controls */
    width: auto;
}

main{
    /* Scroll horizontally as needed */
    overflow-x: auto;

    /* Center contents */
    text-align: center;


}

main img{
    /* Constrain images on small screens */
    max-width: 100%;
}

/* Horizontal Alignment of divs and other tags */
.parent{
    text-align: center;
}

.child{
    display: inline-block;
    vertical-align: middle;
    padding: 1rem 2rem;
    margin: 10px;
    border-radius: 10px;
}

.stacked-input {
    margin: 0 auto;
    padding: 1rem;
}

.stacked-input label {
    display: block;
    margin-bottom: 10px;
}

#cs-hand-ranking-img {
    max-width: 50%;
}


/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 30px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* Table CSS */
table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

input[type=number]{
    width: 10rem;
}

.game-settings-display-table {
    max-width: 50%;
    margin: 0 auto;
}

.game-settings-table {
    max-width: 25%;
    margin: 0 auto;
}

.game-settings-table input {
    margin: 0;
    padding: 0;
}

td input[type="number"] {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

td select {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-align: center;
}

.folded {
    opacity: 0.6;
}

/* Container to center the buttons */
.playback-buttons-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

input[type=number].playback-input {
    text-align: center;
    width: 60px;
}