.backBlue{
    border-radius: 10px;
    margin-top: 10px;
}

.turnGlow{
    color: black;
}

.noTurnGlow{
    color: white;
}

#pots{
    padding: 1%;
    margin: 1%;
    background-color: #787777;
    background-image: url("/images/rebels_pot.jpeg");
    background-repeat: no-repeat, no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    color: #ffffff;
    grid-area: 1/1/3/2;
    font-size: 1rem;
}

#pots.active:hover{
    box-shadow:
    inset 0 0 50px #fff,
    0 0 50px #fff
}

#pots h5{
    font-size: 1.25em;
}

#deck{
    box-shadow: 3px 3px 0px 3px #323232;
    width: calc(100% - 6px);
    height: auto;
    aspect-ratio: 50 / 67;
    grid-area: 1/3/2/4;
}

#discard{
    display: block;
    width: calc(100% - 6px);
    height: auto;
    aspect-ratio: 50 / 67;
    grid-area: 1/4/2/5;
}

.smol
{
    padding: 1%;
}

.backRed
{
    border-radius: 10px;
    margin-top: 10px;
}

.red
{
    color: #ed3b3b;
}

#psHeader{
    color: #ffffff;
}

#phase{
    color: #ffffff;
}

.card{
    padding: 0;
    background-image: url("/images/rebels-card-back.png");
    background-repeat: no-repeat, no-repeat;
    background-size: cover;
    margin: 3px;
    width: 50px;
    aspect-ratio: 50 / 67;
    border-radius: 5px;
    color: #ffffff;
    text-align: center;
}

.card.protected{
    background-image: none;
    background-color: firebrick;
}

h5.protected{
    color: firebrick;
}

.alderaan{
    padding: 0;
    background-image: url("/images/alderaan.png");
    background-repeat: no-repeat, no-repeat;
    background-size: cover;
    width: 75%;
    height: auto;
    aspect-ratio: 1 / 1;
    grid-area: 1/2/3/3;
}

.dieContainer{
    display: block;
    width: 100%;
    grid-area: 2/3/3/5;
}

.die{
    width: min(25px, calc(50% - 9px));
    aspect-ratio: 1 / 1;
    border-radius: 3px;
    padding: 0;
    margin: 3px;
}

#dieOne {
    background-color: #0cc23c;
}

#dieTwo.shiftfalse {
    background-color: #ed3b3b;
}

#dieTwo.shifttrue {
    background-color: #0cc23c;
}

#pAction{
    color: white;
}

#tableCont{
    position: relative;
    z-index: 1;
    width: 72%;
    margin: 10% auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#table {
    position: relative;
    background-image: url("/modern-theme-images/tables/SabaccTableFixedAlpha.png");
    background-repeat: no-repeat, no-repeat;
    background-size: cover;
    margin: auto auto;
    z-index: 1;
    width: 100%;
    aspect-ratio: 256 / 159;
}

#pAction{
    position: absolute;
    z-index: 4;
    top: 30%;
    margin: 0 auto;
}

#gameInfo{
    position: absolute;
    top: 50%;
    translate: 0px -50%;
    z-index: 4;
    width: 30%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 2fr 2fr 1fr 1fr;
    grid-template-rows: 3fr 1fr;
    justify-items: center;
    align-items: center;
}

#actBox{
    position: absolute;
    z-index: 4;
    top: 65%;
    margin: 0 auto;
    width: 15%;
}

#betCredits{
    width: 80%;
}

#betBtn{
    width: 50%;
}

#betDiv{
    padding: 1%;
}

#betDiv > form > input{
    margin: 0;
    padding: 0;
}

#betDiv > input > button{
    margin: 0;
    padding: 0;
}

#betDiv > p{
    margin: 0;
    padding: 0;
}

.chip{
    background-size: contain;
}

.bigChip{
  background-image: url("modern-theme-images/credit-chips/Credit\ Gold.png");
}

.midChip{
  background-image: url("modern-theme-images/credit-chips/Credit\ Silver.png");
}

.lowChip{
  background-image: url("modern-theme-images/credit-chips/Credit\ Bronze.png");
}

.cardsContainer{
    display: grid;
    grid-auto-flow: column;
    column-count: 5;
}

.card{
    display: flex;
    justify-content: center;
}

.card h5{
    font-size: 30px;
}

.playerBox{
    padding: 0px 10px;
    font-size: 1rem;
}

.playerBox h5{
    font-size: 1.25em;
}

.player0{
    top: 100%;
    left: 36%;
    translate: -50% 0%;
}

.player0 > .cardsContainer{
    rotate: 0deg;
    top: -36px;
    left: 50%;
    translate: -50% -50%;
}

.player1{
    top: 74%;
    left: 2%;
    translate: -100% 0%;
}

.player1 > .cardsContainer{
    rotate: 58deg;
    top: -6px;
    left: calc(100% + 60px);
    translate: -50% -50%;
}

.player2{
    bottom: 74%;
    left: 2%;
    translate: -100% 0%;
}

.player2 > .cardsContainer{
    rotate: 302deg;
    top: 130px;
    left: calc(100% + 53px);
    translate: -50% -50%;
}

.player3{
    bottom: 103%;
    left: 36%;
    translate: -50% 0%;
}

.player3 > .cardsContainer{
    rotate: 0deg;
    top: 170px;
    left: 50%;
    translate: -50% -50%;
}

.player4{
    bottom: 103%;
    left: 64%;
    translate: -50% 0%;
}

.player4 > .cardsContainer{
    rotate: 0deg;
    top: 170px;
    left: 50%;
    translate: -50% -50%;
}

.player5{
    bottom: 74%;
    right: 2%;
    translate: 100% 0%;
}

.player5 > .cardsContainer{
    rotate: 58deg;
    top: 130px;
    right: calc(100% + 53px);
    translate: 50% -50%;
}

.player6{
    top: 74%;
    right: 3%;
    translate: 100% 0%;
}

.player6 > .cardsContainer{
    rotate: 302deg;
    top: -6px;
    right: calc(100% + 45px);
    translate: 50% -50%;
}

.player7{
    top: 100%;
    left: 64%;
    translate: -50% 0%;
}

.player7 > .cardsContainer{
    rotate: 0deg;
    top: -36px;
    left: 50%;
    translate: -50% -50%;
}

.playerStuff{
    position: absolute;
    z-index: 2;
    width: max-content;
    display: flex;
    flex-direction: column;
}

.playerStuff h5{
    margin-bottom: 0px;
}

.playerStuff > .cardsContainer{
    position: absolute;
    z-index: 2;
}

.credit-attribution-container{
    width: 100%;
    display: flex;
    justify-content: right;
}

.credit-attribution{
    display: grid;
    width: 520px;
    grid-template-columns: 1fr 4fr;
    justify-items: right;
}

.credit-attribution a{
    display: contents;
}

#jacob-densford-credit-attribution{
    background-image: url("modern-theme-images/attribution-image.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 100px;
}

.mobileActBox, .mobileActSpacer{
    display: none;
}

@media screen and (max-width: 1300px){
    h1.header{
        font-size: 1.25rem;
    }

    h2.header{
        font-size: 1rem;
    }

    #pAction{
        font-size: 1rem;
    }

    #pots{
        font-size: 0.5rem;
    }

    .card{
        width: 30px;
    }

    #betCredits, #betBtn{
        font-size: 0.5rem;
    }

    #betCredits{
        margin-bottom: 0.5rem;
    }

    .chip, .imperial-credits-logo{
        width: 10px;
    }

    .playerBox{
        margin-top: 5px;
    }

    .playerStuff h5 {
        font-size: 0.5rem;
    }
}

@media screen and (max-width: 800px){
    h2.header{
        margin-bottom: 16vh;
    }

    .card{
        width: auto;
        margin: 0px;
    }

    #tableCont{
        margin: 30% auto;
        width: 85%;
    }

    #table {
        background-image: url("/modern-theme-images/tables/SabaccTable90.png");
        aspect-ratio: 159 / 256;
    }

    #pAction{
        position: fixed;
        top: unset;
        font-size: 1.5rem;
        bottom: 27%;
        right: 30%;
        max-width: 60%;
        max-height: 6%;
        translate: 50% 50%;
    }

    #gameInfo{
        position: fixed;
        top: unset;
        bottom: 16.5%;
        right: 30%;
        width: 50%;
        max-height: 15%;
        translate: 50% 50%;
        grid-template-columns: 2fr 2fr 2fr 1fr;
        grid-template-rows: 1fr 3fr;
    }

    #pots{
        display: flex;
        justify-content: space-around;
        width: 100%;
        font-size: 0.9rem;
        grid-area: 1/1/2/5;
    }

    #pots h5{
        margin-bottom: 0px;
    }

    .alderaan{
        width: 90%;
        grid-area: 2/1/3/2;
    }

    #deck{
        grid-area: 2/2/3/3;
    }

    #discard{
        grid-area: 2/3/3/4;
    }

    .dieContainer{
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-area: 2/4/3/5;
    }

    .die{
        width: calc(100% - 9px);
    }

    #actBox{
        position: fixed;
        top: unset;
        bottom: 4.5%;
        right: 30%;
        width: 50%;
        max-height: 9%;
        translate: 50% 50%;
    }

    #betDiv{
        width: 100%;
        display: grid;
        grid-auto-flow: column;
    }

    #betCredits, #betBtn, #raiseCredits{
        width: 100%;
        font-size: 1rem;
        margin-bottom: 0px;
    }

    .chip, .imperial-credits-logo{
        width: 20px;
    }

    .player0{
        position: fixed;
        z-index: 4;
        top: unset;
        bottom: 15%;
        left: 20%;
        width: 35%;
        height: 26%;
        translate: -50% 50%;
    }

    .player0 > .playerBox{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .player0 h5{
        font-size: 0.8rem;
    }

    .player1{
        top: unset;
        bottom: 12%;
        left: -10%;
        translate: -50% 0%;
    }

    .player2{
        bottom: 52%;
        left: -10%;
        translate: -50% 0%;
    }

    .player3{
        bottom: 88%;
        left: 20%;
        translate: -50% 0%;
    }

    .player4{
        bottom: 88%;
        left: unset;
        right: 20%;
        translate: 50% 0%;
    }

    .player5{
        bottom: 52%;
        right: -10%;
        translate: 50% 0%;
    }

    .player6{
        top: unset;
        bottom: 12%;
        right: -10%;
        translate: 50% 0%;
    }

    .player7{
        top: unset;
        bottom: -8%;
        left: 50%;
        translate: -50% 0%;
    }

    .playerStuff h5{
        font-size: 1.2rem;
    }

    .playerStuff > .cardsContainer{
        width: 100%;
        position: static;
        rotate: 0deg;
        translate: 0% 0%;
        order: -1;
        grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
        grid-auto-flow: row;
    }

    .mobileActSpacer{
        display: block;
        width: 100vw;
        height: 30vh;
    }

    .mobileActBox{
        background-color: #323232;
        display: block;
        position: fixed;
        width: 100%;
        height: 30%;
        bottom: 0%;
        left: 0%;
        z-index: 3;
    }
}