main.game
{
    background-image: url("/images/red_poker_table.jpeg");
    background-repeat: no-repeat, no-repeat;
    background-size: cover;
}

.backBlue
{
    border-radius: 10%;
    margin-top: 10%;
}

#pots
{
    margin: 1%;
    padding: 1%;
    background-color: #787777;
    background-image: url("/images/rebels_pot.jpeg");
    background-repeat: no-repeat, no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    color: #ffffff;
}

#pots.active:hover
{
    box-shadow:
    inset 0 0 50px #fff,
    0 0 50px #fff
}

.smol
{
    padding: 1%;
    font-size: x-small;
}

.backRed
{
    border-radius: 10%;
    margin-top: 10%;
}

.red
{
    color: #ed3b3b;
}

#psHeader {
    color: #ffffff;
}

#phase {
    color: #ffffff;
}

.card {
    padding: 0;
    margin: 0;
    /* How to make more clip art https://bennettfeely.com/clippy/ */
    clip-path: polygon(31% 2%, 69% 2%, 87% 50%, 70% 98%, 30% 98%, 13% 50%);
    background-image: url("/images/solo-card-back.png");
    background-repeat: no-repeat, no-repeat;
    background-size: cover;
    background-position: center;
    width: 53px;
    height: 59px;
    border-radius: 5px;
    color: #ffffff;
    text-align: center;
}

.protected {
    background-image: none;
    background-color: firebrick;
}

.alderaan {
    padding: 0;
    background-image: url("/images/alderaan.png");
    background-repeat: no-repeat, no-repeat;
    background-size: cover;
    width: 60px;
    height: 60px;
    border-radius: 30px;
}

.die {
    width: 25px;
    height: 25px;
    border-radius: 3px;
    padding: 0;
    margin: 3px;
}

#dieOne {
    background-color: #0cc23c;
}

#dieTwo.shift0 {
    background-color: #ed3b3b;
}

#dieTwo.shift1 {
    background-color: #0cc23c;
}

#pAction
{
    color: white;
}

#tableCont
{
    position: relative;
    z-index: 1;
    height: 750px;
    width: 750px;
    margin: 10% auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#table {
    position: relative;
    background-image: url("/images/octogonal-poker-table.svg");
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
    background-repeat: no-repeat, no-repeat;
    background-size: cover;
    margin: auto auto;
    z-index: 1;
    width: 100%;
    height: 100%;
}

#pAction
{
    position: absolute;
    z-index: 2;

    top: 35%;
    
    margin: 0 auto;
}

#gameInfo
{
    position: absolute;
    top: 40%;
    z-index: 2;
    margin: 0 auto;
}

#actBox
{
    position: absolute;
    z-index: 2;
    top: 60%;
    margin: 0 auto;
}
#betDiv
{
    padding: 1%;
}

#betDiv > form > input
{
    margin: 0;
    padding: 0;
}

#betDiv > input > button
{
    margin: 0;
    padding: 0;
}

#betDiv > p
{
    margin: 0;
    padding: 0;
}

.player0
{
    position: absolute;
    z-index: 2;
    top: 83%;
    left: 32%;
}

.player1
{
    position: absolute;
    z-index: 2;
    rotate: 45deg;
    top: 63%;
    left: 5%;
}

.player2
{
    position: absolute;
    z-index: 2;
    rotate: 90deg;
    bottom: 50%;
    left: -3%;
}

.player3
{
    position: absolute;
    z-index: 2;
    rotate: 135deg;
    top: 0%;
    right: 70%;
}

.player3 > .card
{
    rotate: 180deg;
}

.player3 > .backRed
{
    rotate: 180deg;
}

.player3 > .backBlue
{
    rotate: 180deg;
}




.player4
{
    position: absolute;
    z-index: 2;
    rotate: 180deg;
    bottom: 83%;
    right: 35%;
}

.player4 > .card
{
    rotate: 180deg;
}

.player4 > .backRed
{
    rotate: 180deg;
}

.player4 > .backBlue
{
    rotate: 180deg;
}

.player5
{
    position: absolute;
    z-index: 2;
    rotate: -135deg;
    bottom: 63%;
    right: 5%;
}

.player5 > .card
{
    rotate: 180deg;
}

.player5 > .backRed
{
    rotate: 180deg;
}

.player5 > .backBlue
{
    rotate: 180deg;
}




.player6
{
    position: absolute;
    z-index: 2;
    rotate: -90deg;
    bottom: 25%;
    left: 85%;
}

.player7
{
    position: absolute;
    z-index: 2;
    rotate: -45deg;
    top: 75%;
    left: 67%;
}