{% extends "layout.html" %}

{% block title %}
    Global Chat
{% endblock %}

{% block main %}

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="/static/chat.js"></script>

    <div id="messages"></div>
    
    <input type="text" class="form-control form-group" id="myMessage">
    <button id="sendbutton" class="btn btn-primary">Send</button>
    
    <user id="user" name="{{ user['username'] }}" user_id="{{ user['id'] }}"></user>

{% endblock %}