{% extends "layout.html" %}

{% block title %}
    Game
{% endblock %}

{% block main %}

    <game id="game" game_id="{{ game['game_id'] }}" player_ids="{{ game['player_ids'] }}" player_credits="{{ game['player_credits'] }}" player_bets="{{ game['player_bets'] }}" hand_pot="{{ game['hand_pot'] }}" sabacc_pot="{{ game['sabacc_pot'] }}" phase="{{ game['phase'] }}" deck="{{ game['deck'] }}" player_hands="{{ game['player_hands'] }}" player_protecteds="{{ game['player_protecteds'] }}" player_turn="{{ game['player_turn'] }}" completed="{{ game['completed'] }}"></game>
    <users id="users" u="{{ users }}"></users>

    <h1 id="psHeader"></h1>
    <h2 id="phase"></h2>

    <div id="tableCont">
        <div id="table"></div>
        <h2 id="pAction">{{ game["p_act"] }}</h2>
        <div id="gameInfo" class="parent">

            <div id="pots" class="child">
                <h5>Sabacc: <span id="sabacc_pot">{{ game["sabacc_pot"] }}</span></h5>
                <h5>Hand: <span id="hand_pot">{{ game["hand_pot"] }}</span></h5>
            </div>
    
            <div id="deck" class="card child">
            </div>
    
            <div id="discard" class="card child">
                <button type="button" id="tradeBtn" class="btn btn-primary smol">Trade</button>
                <br>
                <button type="button" id="standBtn" class="btn btn-primary smol">Stand</button>
            </div>
    
            <div id="dieOne" class="child die"></div>
    
            <div id="dieTwo" class="child die"></div>
    
            <div id="alderaan" class="child alderaan"></div>
    
        </div>
        {% for i in range(users|length) %}

            <div id="{{ users[i] }}Stuff" class="parent player{{ i }}"></div>

        {% endfor %}

        <div id="actBox"></div>
    </div>



    <!--Put script tags at end to load page faster-->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>

    <!-- Game JavaScript -->
    <script src="/static/game/game.js"></script>
    <script src="/static/game/socketStuff.js"></script>
    <script src="/static/game/bet.js"></script>
    <script src="/static/game/card.js"></script>

    <script>

        $(document).ready(function() {

            pageReady = false;

            // Setup Stuff

            // Define show/hide functions
            function show(id) {
                document.getElementById(id).hidden = false;
            }

            function hide(id) {
                document.getElementById(id).hidden = true;
            }

            // Eliminating var and let to make variables truly global

            // User stuff
            uid = {{ user_id }};
            player_ids = $("#game").attr("player_ids").split(",");
            u_dex = player_ids.indexOf(String({{ user_id }}));
            us_raw = $("#users").attr("u");
            us_part = us_raw.slice(1, us_raw.length - 1);
            us_list = us_part.split(", ");
            game_id = {{ game['game_id'] }};
            thisUName = us_list[u_dex].slice(1, us_list[u_dex].length - 1);

            pageReady = true;

            // Global Game data
            game = {
                "game_id": {{ game["game_id"] }},
                "player_ids": '{{ game["player_ids"] }}',
                "player_credits": '{{ game["player_credits"] }}',
                "player_bets": '{{ game["player_bets"] }}',
                "hand_pot": {{ game["hand_pot"] }},
                "sabacc_pot": {{ game["sabacc_pot"] }},
                "phase": '{{ game["phase"] }}',
                "deck": '{{ game["deck"] }}',
                "player_hands": '{{ game["player_hands"] }}',
                "player_protecteds": '{{ game["player_protecteds"] }}',
                "player_turn": {{ game["player_turn"] }},
                "folded_players": '{{ game["folded_players"] }}',
                "folded_credits": '{{ game["folded_credits"] }}',
                "p_act": '{{ game["p_act"] }}',
                "cycle_count": {{ game["cycle_count"] }},
                "shift": {{ game["shift"] }},
                "completed": {{ game["completed"] }}
            }

            // Hand stuff
            hands = "{{ game['player_hands'] }}".split(";");

            // Credits stuff
            credits = "{{ game['player_credits'] }}".split(",");
            pBets = "{{ game['player_bets'] }}".split(",");

            // Protected cards stuff
            protAll = "{{ game['player_protecteds'] }}".split(";");


            socketSetup();

            game_socket.on('connect', function() {
                game_socket.emit("game");
            });


            // When server sends a command
            protect_socket.on('message', function(msg) {

                // Check to see if the broadcast is referring to this game
                if (msg["g_id"] === game_id) {

                    // Server told client to refresh game data
                    if (msg["cmd"] === "refresh") {
                        refreshGame(msg["gata"]);
                    }
                }

            });

            bet_socket.on('message', function(msg) {

                // Check to see if the broadcast is referring to this game
                if (msg["g_id"] === game_id) {

                    // Server told client to refresh game data
                    if (msg["cmd"] === "refresh") {
                        refreshGame(msg["gata"]);
                    }
                    else if (msg["cmd"] === "reload") {
                        location.reload();
                    }
                }

            });

            card_socket.on('message', function(msg) {

                // Check to see if the broadcast is referring to this game
                if (msg["g_id"] === game_id) {

                    // Server told client to refresh game data
                    if (msg["cmd"] === "refresh") {
                        refreshGame(msg["gata"]);
                    }

                }

            });

            cont_socket.on('message', function(msg) {

                // Check to see if the broadcast is referring to this game
                if (msg["g_id"] === game_id) {

                    // Server told client to refresh game data
                    if (msg["cmd"] === "refresh") {
                        refreshGame(msg["gata"]);
                    }
                    else if (msg["cmd"] === "reload") {
                        location.reload();
                    }

                }


            });

            setupGame(true);

            // Protecting stuff
            $('.own').mousedown(function(event) {
                switch (event.which) {

                    case 1:
                        break;

                    case 2:
                        break;

                    case 3:
                        $(this).addClass("protected");
                        data = {"game_id": game_id, "protect": $(this).text()}; // There is a bug here. One day I will regret this. Do not protect two identical cards.
                        protect_socket.emit("protect", data);
                        break;

                    default:
                        
                }
            });



            // If it is the player's turn
            if ({{ game["player_turn"] }} === {{ user_id }} && game["completed"] === 0) {
                
                if ('{{ game["phase"] }}' === "betting") { // Betting Phase
                    
                    betPhase();

                }


                else if ("{{ game['phase'] }}" === "card" || "{{ game['phase'] }}" === "alderaan") {

                    cardPhase();

                }

            }

            else if (game["player_turn"] === {{ user_id }} && game["completed"] === 1) {
                $("#gameInfo").append('<button type="button" id="pAgainBtn" class="btn btn-primary">Play Again</button>');

                $("#pAgainBtn").click(function(){
                    

                    let data = { "game_id": game_id };
                    cont_socket.emit("cont", data);
                    
                });
            }


        });

    </script>

{% endblock %}