{% extends "layout.html" %}

{% block title %}
    Settings
{% endblock %}

{% block main %}

    <h2>Settings</h2>
    <br>
    <form action="/settings" method="post">
        <div class="parent">
            <h5 class="child">Dark Mode</h5>
            <!-- Rounded switch -->
            <label class="switch child">
                <input name="dark" type="checkbox">
                <span class="slider round"></span>
            </label>
        </div>

        <br>

        <label for="theme">Theme</label>

        <select name="theme" id="theme">
            <option value="rebels">Rebels</option>
            <option value="solo">Solo</option>
        </select>

        <br>

        <br>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>

    <!-- <script src="/static/host.js"></script> -->

{% endblock %}